<%= render partial: "market_vendor_header" , locals: { action_name: "get"}%>

<h2>MARKETS:</h2>
<section class="visitor_list">
  <% @markets.each do |market| %>
  <article>
    <p>
      <%= link_to "#{market.name}", show_market_path(market.id) %>
      <%= market.state %>
        <%= link_to( 'Edit', edit_market_path(market.id) ) %>
        <%= button_to 'delete', {action: "destroy", id: market.id }, method: :delete, data: {confirm: "Are you sure?"} %>
    </p>
    <% end %>
  </article>
</section>


<!-- <h2>Here is a list of all vendors:</h2>
<article>
  <% @vendors.each do |vendor| %>
  <p>
    <%= vendor.name %>
  </p>
  <% end %>
</article> -->
