<!-- <%= link_to "Market Admin Home", market_admins_path %> -->

<h1><%= @market.name %> Info:</h1>

<p>Market Address: <%= @market.address %>, <%= @market.city %>, <%= @market.county %>, <%= @market.state %>, <%= @market.zip %></p>

<section>
    <p><%= link_to( 'Edit market info.', edit_market_path ) %></p>
</section>

<h2>List of Market's Vendors:</h2>
<% @vendor_list.each do |vendor| %>
<article>
  <p>
    <%= link_to "#{vendor.name}", show_vendor_path(vendor.id) %>
  </p>
  <% end %>
</article>
