<%= render partial: "market_vendor_header" , locals: { action_name: "get"}%>

<h1><%= @market.name %> Info:</h1>

<p>Market Address: <%= @market.address %>, <%= @market.city %>, <%= @market.county %>, <%= @market.state %>, <%= @market.zip %></p>

<section>
    <p><%= link_to( 'Edit', edit_market_path ) %></p>
</section>

<p> <%= button_to 'delete', {action: "destroy", id: @market.id }, method: :delete, data: {confirm: "Are you sure?"} %> </p>

<h2>List of Market's Vendors:</h2>
<% @vendor_list.each do |vendor| %>
<article>
  <p>
    <%= link_to "#{vendor.name}", show_vendor_path(vendor.id) %>
  </p>
  <% end %>
</article>
