<head>
  <title><%= @page_name = 'Create Market'%></title>
</head>
<% if @market.errors.any? %>
  <ul class="error">
    <% @market.errors.each do |error, message| %>
    <li><strong><%= error.upcase %></strong><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @market, url: path, method: http_method do |f| %>
<table class='market-form'>
  <tr>
    <td><%= f.label :name %> </td>
    <td><%= f.text_field :name, :size => 100 %> </td>
  </tr>

  <tr>
    <td><%= f.label :address %> </td>
    <td><%= f.text_field :address, :size => 100 %> </td>
  </td>

  <tr>
    <td><%= f.label :city %></td>
    <td><%= f.text_field :city %></td>
  </tr>

  <tr>
    <td><%= f.label :county %></td>
    <td><%= f.text_field :county, :size => 50 %></td>
  </tr>

  <tr>
    <td><%= f.label :state %></td>
    <td><%= f.text_field :state %></td>
  </tr>

  <tr>
    <td><%= f.label :zip %></td>
    <td><%= f.text_field :zip %></td>
  </tr>

  <tr>
    <td><%= f.submit "Mark it, Market!" %></td>
  </tr>
</table>
<% end %>
