<h3>Detailed Market Page</h3>

<table class="table-top">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>County</th>
    <th>State</th>
    <th>Zip</th>
  </tr>
  <tr>
    <td class="table-info"><%= @market.name %></td>
    <td class="table-info"><%= @market.address %></td>
    <td class="table-info"><%= @market.city %></td>
    <td class="table-info"><%= @market.county %></td>
    <td class="table-info"><%= @market.state %></td>
    <td class="table-info"><%= @market.zip %></td>
  </tr>
</table>

<p><%= link_to "Back to all markets", market_index_path %></p>
<p><%= link_to "View all vendors", market_index_path %></p>

<br>
<%= button_to "Delete this market", {:action => 'destroy', :id => @market.id }, :method => :delete, data: { confirm: "Really, now?" } %>
