<h1>This is how you see an individual market (with attributes and vendors), no interactivity</h1>
<strong>Name: <%= @market.name %></strong>
<br />Address: <%= @market.address %>
<br />City: <%= @market.city %>
<br />State: <%= @market.state %>
<br />Zip code: <%= @market.zip %>
<br />County: <%= @market.county %>
