<h1>Add a New Vendor</h1>

<%= params %>


<% if @vendor.errors.any? %>
  <ul class="errors">
    <% @vendor.errors.each do |column, message| %>
      <li>
        <strong>
          <%= column.capitalize %>
        </strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @vendor, url: market_vendors_path do |f| %>
  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :num_employees %>:
    <%= f.text_field :num_employees %>
  </p>

  <%= f.submit "Submit" %>
<% end %>
