<%= render partial: "market_vendor_header" , locals: { action_name: "get"}%>

<h1><%= @vendor.name %> Info:</h1>

<p>Market Name: <%= @market %></p>

<p>Vendor's Number of Employees: <%= @vendor.num_employees %></p>

<%= link_to( 'Edit', edit_vendor_path(@vendor.id) ) %>
<%= button_to 'delete', {action: "destroy", id: @vendor.id }, method: :delete, data: {confirm: "Are you sure?"} %>

<h2>List of vendor's products:</h2>

<% @product_list.each do |product| %>
<article>
  <p>
    <%= link_to "#{product.name}", show_product_path(product.id) %>
  </p>
  <% end %>
</article>

<h2>Vendor's Total Sales: $<%= @total_sales/100.00 %></h2>
