<table>
<tr>
  <th>Vendor Name</th>
  <th> Jobs Provided</th>
  <th>Market ID</th>
  <th colspan="2"></th>
</tr>
    <tr>
      <td><%= @myvendor.name %> </td>
      <td><%= @myvendor.num_employees %></td>
      <td><%= @myvendor.market_id %></td>
    </tr>
</table>

<%= button_to "Edit Vendor", vendor_edit_path(@myvendor.id), method: :get%><br>
<%= button_to "Delete Vendor", vendor_delete_path(@myvendor.id), method: :delete%><br>
