<table>
<tr>
  <th class="header">Vendor Name</th>
  <th class="header"> Jobs Provided</th>
  <th class="header">Market ID</th>
  <th colspan="2"></th>
</tr>
    <tr>
      <td><%= @myvendor.name %> </td>
      <td><%= @myvendor.num_employees %></td>
      <td><%= @myvendor.market_id %></td>
    </tr>
</table>
<br>

<button><%= button_to "Edit Vendor", vendor_edit_path(@myvendor.id), method: :get%></button><br>
<button><%= button_to "Delete Vendor", vendor_delete_path(@myvendor.id), method: :delete%></button>
