<h2> <%= @vendor.name %></h2>

<ul>
<li>At: <%= @market.name %></li>
<li>Employees: <%= @vendor.num_employees %></li>
</ul>

<h3> Products </h3>
<ul>
<% @vendor.products.each do |product| %>
  <li><%= product.name %>
  <%= link_to "Edit", edit_market_vendor_product_path(vendor_id: @vendor.id, id: product) %>
  <%= link_to "Delete", market_vendor_product_path(vendor_id: @vendor.id, id: product), method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %></li>
<% end %>
</ul>
<%= button_to "Add New Product", new_market_vendor_product_path(vendor_id:@vendor.id), method: :get %>

<h3><%= link_to "See Sales", market_vendor_sales_path(vendor_id:@vendor.id) %></h3>
<%= button_to "Edit Vendor", edit_market_vendor_path(market_id: @market.id, id: @vendor.id), method: :get%>
<p>
</p>
<%= button_to "Delete Vendor", market_vendor_path(market_id: @market.id, id: @vendor.id), method: :delete, data: { confirm: "Are you sure you want to delete this vendor?" } %>
