<h1> <%= @vendor[:name]  %></h1>
<article>

  <p>Number of Employees:<%= @vendor[:employee_num] %></p>
  <p><%= @markets.find(@vendor[:market_id]).name %></p>
</article>

<section>
<h2> This vendor's Product: </h2>
  <ul>
    <% @products.each do |product| %>
      <% if @vendor[:id] == product.vendor_id %>
        <li><%= link_to product.name, showProduct_path(product.id) %></li>
        <li><%= button_to "Edit", editProduct_path(product.id), method: :get%></li>
        <li><%= button_to "Delete", deleteProduct_path(product.id), data: {confirm:"Are you sure?"}, method: :delete %></li>
      <% end %>
    <% end %>
    <%= link_to "Create a New Product", newProduct_path(@vendor.id), method: :get %>
  </ul>
</section>

<section>
<h2> This Vendor's Sales by product: </h2>
  <ul>
    <% @sales.each do |sale| %>
      <% if @vendor[:id] == sale.vendor_id %>
        <li>Product: <%= @products.find(sale.product_id).name %></li>
        <li>sale amount:<%= sale.amount %></li>
        <li>purchase Time: <%= sale.purchase_time %></li>

        <p></p>
      <% end %>
    <% end %>
    <%= link_to "Create a New Proudct", newProduct_path, method: :get %>
  </ul>
</section>
