<h1>This is a vendor from the vendor's point of view!</h1>

<h3><%= "#{@vendor.name} details:" %></h3>

<h4>Info</h4>
<p>
  <%= "Market: #{@market.name}"%><br>
  <%= "Number of employees: #{@vendor.num_employees}" %><br>
</p>

<h4>Products!</h4>


  <% @products.each do |product| %>
  <ul>
  <li><%= product.name %></li> <%= link_to "Edit product", edit_vendor_product_path(@vendor, product) %>
  <%= link_to "Delete product", vendor_product_path(@vendor, product), method: 'delete', data: {confirm: "BURNINATE?"} %>
</ul>
  <% end  %>

  <p>
    <%= link_to "Add a new product", new_vendor_product_path(@vendor) %>
  </p>
