<header>
  <h1>Welcome <%= @vendor.name %></h1>
  <nav>
    <li><%= link_to "Vendors Index", vendors_path %></li>
  </nav>
</header>

<main>
  <p>
    Number of employees: <%= @vendor.num_employees %>
  </p>

  <h2>Products:</h2>
  <p>
    <%= link_to "Add a new product", new_vendor_product_path(@vendor), class: "new" %>
  </p>

  <ul>
    <% @vendor.products.each do |product| %>
    <li>
      <%= product.name %> &mdash;
      <%= link_to "Edit", edit_vendor_product_path(@vendor.id, product.id) %> /
      <%= link_to "Delete", vendor_product_path(@vendor.id, product.id), method: :delete, data: { confirm: "#{product.name}: This product will be deleted. Please confirm."} %> /
      <%= link_to "Register Sale", new_vendor_product_sale_path(@vendor.id, product.id), class: "new" %>
    </li>
    <% end %>
  </ul>
</main>

<!-- DELETE THIS BEFORE SUBMITTING! -->
<hr>
<p>
  As a vendor, I can create, edit, or delete my Products
</p>

<p>This is the vendors view show.html.erb</p>
