Individual Vendor Page
<h1>Vendor: <%= @vendor.name %></h1>
<p>Market ID:<%= @vendor.market_id %>


<p>Number of Employees: <%= @vendor.num_employees %></p>
<p>Belongs To Market: <%= @vendor.market.name %></p>

<br><%= link_to("Return to #{@market.name} Info Page", market_path(@market.id)) %>

<br><%= link_to("Return to All Markets Page", markets_path) %>
