<h3>Detailed Product Page</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Product ID</th>
    <th>Vendor ID</th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.id %>
    <td><%= @product.vendor_id %>
  </tr>
</table>

<p><%= link_to "Back to all products", vendor_product_index_path %></p>
<p><%= link_to "Add a new sale for this product", new_product_sale_path(@product.id) %></p>

<br>
<%= button_to "Delete this product", {:action => 'destroy', :id => @product.id }, :method => :delete, data: { confirm: "Really, now?" } %>
