<h1>Here's your market</h1>

<h3><%= "#{@market.name} details:" %></h3>

<h4>Address</h4>
<p>
  <%= @market.address %><br>
  <%= "#{@market.city}, #{@market.state} #{@market.zip}" %><br>
</p>

<h4>Vendors</h4>
  <% @vendors.each do |vendor| %>
  <ul>
  <li><%= vendor.name %>
    <%= link_to " edit", edit_market_vendor_path(@market, vendor) %>
    <%= link_to "delete", market_path(vendor), method: :delete,
        data: {confirm: "Are you really, really sure?"}%></li>

</ul>
  <% end  %>

<%= link_to "Create new Vendor", new_market_vendor_path(market_id: @market) %>
<%= link_to "Edit Market Info", edit_market_path %>
