<h1>Edit Market Details</h1>

<ul>
  <li>Name: <%= @this_market.name %></li>
  <li>Address: <%= @this_market.address %></li>
  <li>City: <%= @this_market.city %></li>
  <li>County: <%= @this_market.county %></li>
  <li>State: <%= @this_market.state %></li>
  <li>Zip: <%= @this_market.zip %></li>
</ul>

<p><%= link_to "Edit Market", edit_market_path(@id) %></p>

<h3>Market Vendors</h3>
<ul>
  <% @vendor.each do |v| %>
    <li><%= v.name %></li>
  <% end %>
</ul>

<p><%= link_to "Add Vendor", edit_market_path(@id) %></p>
