<h1>Here's the market you just clicked on.</h1>

<h3><%= @market.name %></h3>
<p>
  <%= @market.address  %><br />
  <%= "#{@market.city}, #{@market.state} #{@market.zip}" %>
</p>

<h3>Vendors at this Market</h3>
<ul>
<% @market.vendors.each do |vendor| %>
    <li><%= vendor.name %></li>
<% end %>
</ul>

<%= link_to("Edit", markets_edit_path) %>
