<h1>Please enter or update your product!</h1>

<%= form_for [@vendor, @product] do |f| %>
  <%= f.label "Product name" %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<p><%= link_to("Back to the Vendor", vendor_path) %></p>
