<header>
  <nav>
    <h1>
      <%= link_to "FarMar", root_path, class: "page-link" %>
      <%= link_to "Vendors", vendors_path, class: "page-link" %>
      <%= link_to "#{@vendor.name} Products", vendor_products_path(@vendor.id), class: "page-link" %>
    </h1>
    <h2 class="user-header">Edit a Product</h2>
  </nav>
</header>

<div class='form-header'>
  <h1><%="Edit #{@product.name}" %></h1>
</div>

<%= render partial: "form_product", locals: { submit_url: vendor_product_path, http_method: :patch } %>
