<!-- TODO: Refactor to move Ruby code to Model/ Controller/Helper as appropriate -->

<h3><%= @vendor.name %></h3>

<p>Product list</p>
<% @product_list.each do |product| %>
  <p><%= product[:name] %> <%= link_to("Edit ", edit_vendor_product_path(product[:vendor_id], product[:id]))%> <%= link_to("Delete", vendor_product_path(product[:vendor_id], product[:id]), method: :delete, data: { confirm: "Are you sure you want to delete this product?"}) %> <%= link_to("Create a sale for this product", new_vendor_product_sale_path(@vendor.id, product.id))%></p>
  <!--  Alternative Syntax -->
  <%# link_to("Create a sale", [@vendor, @product]) %>
<% end %>
<p><%= link_to("New Product", new_vendor_product_path) %></p>

<p>Sales</p>

Total Sales:
<% total_sales = 0 %>
<% @sales.each do |sale| %>
  <% total_sales += sale[:amount] %>
<% end %>

<% if total_sales != 0.to_i %>
  $<%= add_decimal(total_sales)%></p>
<% else %>
  <%= " N/A"%>
<% end %>

<p><%= link_to("All Sales List", vendor_sales_path) %></p>
