
<h1><%= "#{@vendor.name}'s Products:" %></h1>
<%= link_to "Add a new Product", new_vendor_product_path %>

<ol>
  <% @all_products_by_vendor.each do | product | %><li>
    <p>
      <%= product.name %>
    </p>

    <%= button_to "make a sale", new_vendor_product_sale_path(vendor_id: product.vendor_id, product_id: product.id), method: :get %>

    <%= button_to "edit", edit_vendor_product_path(vendor_id: product.vendor_id, id: product.id), method: :get %>

    <%= button_to "delete", vendor_product_path(vendor_id: product.vendor_id, id: product.id), method: :delete,
                      data: { confirm: "Are you sure you want to delete this task?" } %>
  <% end %></li>
</ol>

<%= link_to "Back to Vendor", vendor_path(@vendor.id) %>
