<%# @TODO - Time.zone = "Pacific Time (US & Canada)" %>
<%# @TODO - add validations for model attributes & handle errors  %>
<%= form_for [@vendor.market, @vendor, @sale], method: http_method do |f| %>
<ul>
  <li>
    <%= f.label :product_id %>
    <%= f.select :sale, :product_id, @products_selection_array %>
  </li>
  <li>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </li>
  <li>
    <%= f.label :purchase_time %>
    <%= f.datetime_local_field :purchase_time %>
  </li>
  <%= f.submit "Submit" %>
</ul>
<% end %>
