<header>
  <nav>

    <h1>
      <%= link_to "FarMar  ", root_path, class: "page-link" %><%=
      link_to "Vendors ", vendors_path, class: "page-link" %><%=
      link_to "#{@vendor.name} / ", vendor_path(@vendor.id), class: "page-link" %>
    </h1>
    <h2 class="user-header">Sales</h2>
  </nav>
</header>

<div class="sale-list-header">

  <h3><%= "Current Sales: $ #{ @all_current_sales_amount }" %></h3>
  <%= link_to "All Sales", vendor_sales_path, class: "primary-btn add-vendor" %>
</div>

<% @all_current_sales.each do | sale | %>
<table class="sale-display">
  <tr>
    <th>Product</th>
    <th>Amount in USD</th>
    <th>Purchase Time</th>
    <th></th>
  </tr>
  <tr>
    <td><%= sale.product.name %></td>
    <td><%= sale.amount/100 %></td>
    <td><%= sale.purchase_time %></td>
  </tr>
  <tr>
  </tr>
</table>
<% end %>
