<!-- TODO: Refactor to move Ruby code to Model/ Controller/Helper as appropriate -->

<p>Lists of Sales</p>

<p>Current Month's Sales (<%= Time.now.strftime("%B %Y") %>):</p>

<% current_sale_count = 0 %>
<% @sales.each do |sale| %>
  <% if sale[:purchase_time].strftime("%Y%m") == Time.now.strftime("%Y%m") %>
    <% current_sale_count += 1 %>
    <p>Sale Amount: $<%= add_decimal(sale[:amount]) %></p>
    <p>Sale Date: <%= sale[:purchase_time].strftime("%A, %B %d, %Y") %></p>
  <% end %>

  <% end %>
  <% if current_sale_count == 0%>
  None</p>
<% end %>

<hr>

<h2>All Sales </h2>
<table>
  <tr>
   <th>Sale Amount</th>
   <th>Sale Date</th>
 </tr>
<% @sales.each do |sale| %>
<tr>
  <td>
    <% if sale[:amount] == 0.to_i %>
      <%= " None" %></p>
    <% else %>
      $<%= add_decimal(sale[:amount]) %>
    <% end %>
  </td>
  <td>
    <% if sale[:purchase_time] != nil %>
      <%= sale[:purchase_time].strftime("%A, %B %d, %Y") %></p>
    <% else %>
      N/A</p>
    <% end %>
  </td>
<% end %>
</tr>
</table>
<p><%= link_to("Back to Product List", vendor_products_path(@vendor.id)) %></p>
