<!-- TODO: Refactor to move Ruby code to Model or Controller as appropriate -->

<p>Sale List</p>

<%= link_to("Back to Product List", vendor_products_path(@vendor.id)) %>

<% @sales.each do |sale| %>
  <p>Sale amount:
    <% if sale[:amount] == 0.to_i %>
      <%= " N/A" %></p>
    <% else %>
      $<%= add_decimal(sale[:amount]) %>
    <% end %>
  <p>Sale date:
    <% if sale[:purchase_time] != nil %>
      <%= sale[:purchase_time].strftime("%A, %B %d, %Y") %></p>
    <% else %>
      <%= " N/A" %>
    <% end %>
<% end %>
