<h2>Sales for <%= Vendor.find(params[:id]).name %></h2>

<ul>
  <% @sales.each do |sale| %>
  <li>
    <strong>Amount:</strong> $<%= "%.2f" % (sale.amount.to_f/100) %> <strong>Purchase Time:</strong> <%= sale.purchase_time %>

  <% end %>

</ul>

  <h5>
    Overall Total: $<%=  "%.2f" % @sale_total %>
  </h5>

<h2 id='bottom'> This Month's Sales </h2>
  <ul>
    <% @month_sales.each do |month_sale| %>
      <li>
        Amount: $<%= "%.2f" % (month_sale.amount.to_f/100) %> Purchase Time: <%= month_sale.purchase_time %>
      </li>
    <% end %>
</ul>

<h5>
  Month Total: $<%= "%.2f" % @month_sale_total %>
</h5>

<nav id='even-more-bottom'>
  <%= link_to("Back to Vendor", show_vendor_path(params[:id])) %>
  <%= link_to("All Vendors", vendors_home_path) %>
</nav>
