<%= form_for ([@vendor, @sale]) do |f| %>
  <p><%= f.label :amount %>
  <%= f.text_field :amount %></p>
  <p><%= f.label "Purchase date and time" %>
  <%= f.text_field :purchase_time %></p>

  <p><%= f.submit "Submit" %></p>
<% end %>
