<h1>Sales#show</h1>
<p>Find me in app/views/sales/show.html.erb</p>
############ change market to sale ###########

<h1><%= @market.name %></h1>
<p><%= @market.address %></p>
<p><%= @market.city %></p>
<p><%= @market.county %></p>
<p><%= @market.state %></p>
<p><%= @market.zip %></p>
