<head>
  <title><%= @page_name = Vendor.find(@sales[0].vendor_id).name + "'s Products"%></title>
</head>
<h4>Market: <%= Market.find(@sales[0].vendor_id).name %></h4>

<h4>ALL SALES</h4>
<table>
  <tr>
    <th>Sale ID</th>
    <th>Purchase Time</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>
  <% @sales.each do |sale| %>
  <tr>
    <td><%= sale.id %></td>
    <td><%= sale.purchase_time %></td>
    <td>$<%= sale.amount.to_f.round(2) / 100 %></td>
    <td><small>
      <%= link_to "[Edit]", edit_vendor_sale_path(sale.vendor_id, sale.id) %>
      <%= link_to "[Delete]", vendor_sale_path(sale.vendor_id, sale.id), method: :delete, data: { confirm: "Really, now?" } %>
    </small> </td>
  </tr>
  <% end %>
</table>

<h4> Total sales:</h4>
<p>$<%= total_sales(@sales) %> </p>

<% month_sales = [] %>
<h4>ALL SALES FOR LAST MONTH</h4>
<table>
  <tr>
    <th>Sale ID</th>
    <th>Purchase Time</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>
  <% @sales.each do |sale| %>
  <tr>
    <% if current_month?(sale.purchase_time) %>
      <% month_sales << sale %>
      <td><%= sale.id %></td>
      <td><%= sale.purchase_time %>
      <td>$<%= sale.amount.to_f.round(2) / 100%></td>
      <td><small>
        <%= link_to "[Edit]", edit_vendor_sale_path(sale.vendor_id, sale.id) %>
        <%= link_to "[Delete]", vendor_sale_path(sale.vendor_id, sale.id), method: :delete, data: { confirm: "Really, now?" } %>
      </small> </td>
    <% end %>
  </tr>
  <% end %>
</table>

<h4> Total sales for last month:</h4>
<p>$<%= total_sales(month_sales) %> </p>

<% if product_sale? %>
  <h4><%= link_to "Add a new sale!", new_product_sale_path %></h4>
<% else vendor_sale? %>
  <h4><%= link_to "Add a new sale!", new_vendor_sale_path %></h4>
<% end %>
