<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path  %></li>
        <li><%= link_to "List of Markets", farmers_markets_path  %></li>
        <li><%= link_to "Continue as Market", farmers_market_views_path  %></li>
        <li><%= link_to "Continue as Vendor", farmers_vendors_path  %></li>
      </ul>
    </nav>
  </header>
</head>
<body>

<%= yield %>

</body>
</html>
