<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>

<h1>FarMar</h1>

<section>
    <p><%= link_to( "Markets", show_markets_path ) %></p>
</section>

<section>
    <p><%= link_to( "Vendors", show_vendors_path ) %></p>
</section>

<section>
    <p><%= link_to( "Products", show_products_path ) %></p>
</section>

<%= yield %>

</body>
</html>
