<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= button_to "Market", marketsIndex_path, method: :get %>
    <%= button_to "Home", index_path, method: :get %>
  </header>

<%= yield %>

</body>
</html>
