<!DOCTYPE html>
<html>
  <head>
    <title>FarMarRails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Poiret+One" rel="stylesheet">
    <%= csrf_meta_tags %>
    <link href="style/normalize.css" type="text/css" rel="stylesheet">
  </head>


  <body>
    <header>

      <h1>MayCar Farmers Market</h1>

      <nav>
        <ul>
          <li><%= link_to "Home", index_path, method: :get %></li>
          <li><%= link_to "Market Login", marketsIndex_path, method: :get %></li>
          <li><%= link_to "Vendor Login", vendor_index_path, method: :get %></li>
        </ul>
      </nav>
    </header>

    <div class="my-container">

      <img src='http://www.dealweal.in/wp-content/uploads/2016/07/ChoppingBoard2.jpg'>

      <!-- <img src='http://dev.chfa.ca/wp-content/uploads/2015/02/Organic-Food.jpg'> -->
      <!-- <img src='http://cdn.weddingbells.ca/wp-content/uploads/2014/05/Summery-Garden-Wedding-in-Niagara-On-The-Lake-Ontario0903.jpg'> -->
      <%= yield %>


      <footer>
        <p>&copy; Copyright 2016 by Carmen Chan and Maya Wang</p>
      </footer>
    </div>
  </body>
</html>
