<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Farmers Market Finder</h1>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "List of markets", homes_show_markets_path %>
      <%= link_to "For Markets", markets_path %>
      <%= link_to "For Vendors", vendors_path %>
    </nav>
  </header>

<%= yield %>

  <footer>
    <h4>&copy; 2016</h4>
      <p>
        by Guinevere Saenger and Mary Morrison
      </p>
  </footer>

</body>
</html>
