<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <link href="https://fonts.googleapis.com/css?family=Gorditas" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "FarMar", root_path %></h1>

<%= yield %>

</body>
</html>
