<!DOCTYPE html>
<html>
<head>
  <title>FarMar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="../../assets/stylesheets/application.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Anton|Julius+Sans+One|Poiret+One|Quicksand" rel="stylesheet">
</head>
<body>
  <header>
    <h1><%= @title %></h1>
    <h3><%= @page_name %></h3>
    <nav>
      <ul class="top-buttons">
        <li><a href="http://localhost:3000">HOME</a></li>
        <li><a href="http://localhost:3000/market">VIEW ALL MARKETS</a></li>
        <li><a href="http://localhost:3000/vendor">VIEW ALL VENDORS</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>


<footer>
<p>
  Brought to you by lovely Nicole and Yeni :)
</p>
</footer>
</body>
</html>
