<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <ul>
    <li>
      <%= link_to "Home Page", root_path %>
    </li>
    <li>
      <%= link_to "List of All Markets", users_markets_path %>
    </li>
    <li>
      <%= link_to "Market Main Page", markets_path %>
    </li>
    <li>
      <%= link_to "Vendor Main Page", vendors_path %>
    </li>
  </ul>
</header>

<div class="main-body">

  <%= yield %>

</div>

<footer>
  &copy; 2016 by <%=link_to "Shari Meggs", "https://github.com/SSBinks" %> and <%= link_to "Heather Herrington", "http://heatherherrington.github.io" %>
</footer>

</body>
</html>
